
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .well{
            background-color:lightgray;
            margin-top:10%;
            box-shadow: 0px 0px 20px 5px #62afdc;
        }
    </style>
</head>
<body>
    <div class="container"> 
        <div class="col-md-4 col-md-offset-4 col-xm-6 col-sm-offset-3 col-xs-10 col-cs-offset-1 well">
            <form class="text-center" method="post">
                <div>
                    <img src="http://www.bilgeadam.com/SiteAssets/Images/LogoBilisimGrubu.png" style="width:100%"/>
                </div>
                <div class="form-group">
                    <input type="text" name="userId" class="form-control" placeholder="Kullanıcı Adı.."/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Parola..."/>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="rememberMe" id="remember_me"/>
                    <label for="remember_me" style="cursor:pointer">Beni Hatırla</label>
                    @* cursor pointer yaparsak, hover yapar. *@

                </div>
                <div class="form-group text-center alert alert-danger" id="error-message" style="display:none">@ViewBag.ErrorMessage</div>
                <div class="form-group">
                    <button class="btn btn-primary">Giriş</button>
                </div>
            </form>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.1.1.min.js"></script>
    <script>
        
        $(document).ready(function () {
            if ($("#error-message").text() != "")
            {
                $("#error-message").slideDown();
                setTimeout(function ()
                {
                    $("#error-message").slideUp();
                },3000)
            }
        })
    </script>
</body>
</html>
